@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "navbar"
        "filter"
        "main"
        "footer";
}

/*----------- BARRA NAVEGACION --------------*/

.navbar {
    grid-area: navbar;
    background-color: #219ebc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-logo {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1rem;
}

#expand-toggle {
    display: none;
}

.menu-icon {
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    cursor: pointer;
}

.navbar-nav {
    width: 100%;
    height: 0;
    background-color: #415a77;
    transition: all 0.5s;
}

.nav-link {
    display: block;
    padding: 1rem;
    color: #fff;
    margin-left: 20px;
    text-align: left; /* Align text to the left */
}

.nav-link:hover {
    background-color: #e0e1dd;
    color: #000;
}

#expand-toggle:checked ~ .navbar-nav {
    height: auto;
    padding: 1rem 0;
}

/*----------- SECCION FILTRO ---------------*/

.filter {
    grid-area: filter;
    background-color: #edf2f4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter select {
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

/*----------- SECCION MAIN ---------------*/

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.cars{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow-y: auto;
    height: calc(100vh - 25rem);
}

.car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #edf2f4;
    border-radius: 1rem;
    padding: 1rem;
}

.car:hover {
    border: 1px solid #edf2f4;
    box-shadow: 0 0 0 2px rgba(0, 131, 194, 0.1);
}

.car-img {
    width: 100%;
    object-fit: cover;
}

.car-divider {
    width: 100%;
    border-bottom: 2px solid #edf2f4;
}

.car-body {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.car-btn {
    text-align: center;
    padding: 0.7rem 2rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #219ebc;
    color: #fff;
}

.car-btn:hover {
    background-color: #edf2f4;
    color: #000;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 0.5rem; 
}

.page-link {
    background-color: #219ebc;
    border: 1px solid #edf2f4;
    color: #fff;
    padding: 0.7rem 1rem;
}

.page-link:first-child {
    border-radius: .7rem 0 0 .7rem;
}

.page-link:last-child {
    border-radius: 0 .7rem .7rem 0;
}


.page-link:hover {
    background-color: #edf2f4;
    color: #000;
}

/*----------- SECCION FOOTER -------------*/

.footer {
    grid-area: footer;
    background-color: #023047;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #fff;
}

.footer p {
    font-size: 0.8rem;
}

/*----------- MEDIA QUERY DISPLAY PARA TABLET ------------*/

@media screen and (min-width: 576px) {
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "navbar navbar"
            "filter main"
            "footer footer";
    }

    .menu-icon {
        display: none;
    }

    .navbar-nav {
        height: auto;
        width: auto;
        display: flex;
        background-color: #219ebc;
        margin-right: 0.5rem;
    }

    .nav-link {
        font-size: 0.8rem;
    }

    .filter {
        justify-content: left;
    }

    .cars {
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - 18rem);
    }
}

/*----------- MEDIA QUERY DISPLEY PARA DESKTOP ------------*/

@media screen and (min-width: 992px) {
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "navbar filter"
            "navbar main"
            "footer main";
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        width: 100%;
    }

    .nav-link {
        font-size: 1rem;
    }

    .navbar {
        flex-direction: column;
        justify-content: left;
    }

    .navbar-logo {
        padding: 1.95rem;
    }

    .cars {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: calc(100vh - 14rem);
    }
}